*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background-primary: #F4F5FB ;
  --background-secondary: #FFFFFF ;

  --color-brand: #C43884;
  --color-brand-hover: #A52C6B;
  --color-danger:#C93847;

  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  --always-white: #FFFFFF;

  --border-primary:#D1D5DB;
  --border-hover:#B9C2D0;

  --font-family:"Inter", sans-serif;
  --text-xl: 800 1.7rem/2rem var(--font-family);
  --text-lg: 800 1.5rem/1.25rem var(--font-family);
  --text-base: 400 1.2rem/1.25rem var(--font-family);
  --text-sm: 400 1rem/1rem var(--font-family);

}

html{
  font-family: var(--font-family);
  background-color: var(--background-primary);
}

#content{
  max-width: 40rem;
  margin-inline: auto;
  /* text-align: center;*/
}


a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1{
  font: var(--text-xl);
}

h2{
 font: var(--text-lg);
}

p{
  font: var(--text-base);
}

span{
  font: var(--text-sm);
}

ul {
  list-style: none;
}

input {
  appearance: none;
  width: 100%;
  border-radius: .5rem;
  border: 2px solid transparent;
  outline: 1px solid var(--border-primary) ;

  padding: .75rem 1rem;

  font: var(--text-base);
}

input:focus{
  outline: 1px solid var(--color-brand-hover)
}


@media only screen and (max-width:48em) {
  #content{
    max-width: 20rem;
    margin-inline: auto;
  }

  #content main section{
    margin-inline: auto;
  }
}