*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background-primary: #F4F5FB ;
  --background-secondary: #FFFFFF ;

  --color-brand: #C43884;
  --color-brand-hover: #A52C6B;
  --color-danger:#C93847;

  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  --always-white: #FFFFFF;

  --border-primary:#D1D5DB;
  --border-hover:#B9C2D0;

  --font-family:"Inter", sans-serif;
  --text-xl: 800 1.5rem/2rem var(--font-family);
  --text-lg: 800 1.25rem/1.25rem var(--font-family);
  --text-base: 400 1rem/1.25rem var(--font-family);
  --text-sm: 400 0.8rem/1rem var(--font-family);

}

html{
  font-family: var(--font-family);
}

#content{
  max-width: 40rem;
  margin-inline: auto;
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1{
  font: var(--text-xl);
}

h2{
 font: var(--text-lg);
}

p{
  font: var(--text-base);
}

span{
  font: var(--text-sm);
}