 .list-wrapper {

  & .line-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 12px;
    background-color: var(--always-white);

    & .checkbox-label {
      position: relative;
      display: flex;
      align-items: center;
      gap: 1rem;
      cursor: pointer;
      flex: 1;

      & input {
        all: unset;
        position: absolute;
        inset: 0;
        opacity: 0;
      }

      & .checkbox-style {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 1rem;
        border: 2px solid var(--border-primary);
        background-color: var(--always-white);
        transition: background-color 0.2s, border 0.2s;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
      }

      & input:hover + .checkbox-style {
        border: 2px solid var(--color-brand-hover);
      }

      input:focus ~ .checkbox-style {
        border: 2px solid var(--color-brand-hover);
      }

      & input:checked + .checkbox-style {
        background-color: var(--color-brand-hover);
        background-image: url(../assets/icons/check.svg);
      }

      & span {
        text-transform: capitalize;
      }
    }

    & button{
      border: none;
      background-color: var(--always-white);
      cursor:pointer;

      &:hover{
        transform: scale(1.3);
        transition: 500ms ease;
      }

      &:focus{
        transform: scale(1.3);
        transition: 500ms ease;
        outline: none;
      }
    }
  }
}
