.py {
  padding-block: 2.5rem;
}

.py {
  padding:0.7 1.5rem;
}

.flex{
  display: flex;
}

.flex-1{
  flex: 1;
}

.center{
  align-items: center;
  justify-content: center;
}

.gap-1 {
  gap: 1rem;
}